Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

cpplint:
  name: cpplint
  entry: "pixi run -e lint cpplint\n  --filter=-build/c++11,-build/include_subdir,-build/header_guard,-whitespace/line_length\n  --recursive ./src ./include ./R-package ./swig ./tests"
  language: system
  require_serial: true
  pass_filenames: false

openmp-pragmas:
  name: openmp-pragmas
  entry: pixi run -e lint sh .ci/lint/lint-openmp-pragmas.sh
  language: system
  require_serial: true
  pass_filenames: false

ruff:
  name: ruff
  entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: pixi run -e lint ruff format --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: pixi run -e lint sh -c "mypy --config-file=./python-package/pyproject.toml %@ || true"
  language: system
  require_serial: true

validate-pyproject:
  name: validate-pyproject
  entry: pixi run -e lint validate-pyproject
  language: python

biome:
  name: biome
  entry: pixi run -e lint biome ci --config-path=./biome.json --diagnostic-level=info --error-on-warnings ./
  language: system
  require_serial: true
  pass_filenames: false

yamllint:
  name: yamllint
  entry: pixi run -e lint yamllint
  language: system

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

Update static_analysis.yml
  .github/workflows/static_analysis.yml
Due: yamllint, typos

Update lint-all.sh
  .ci/lint-all.sh
Due: typos

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: yamllint, typos

[ci] move mypy to pre-commit (#7062)
  .ci/lint-all.sh
  .ci/run-pre-commit-mypy.sh
  .pre-commit-config.yaml
  python-package/README.rst
Due: yamllint, typos

dev
  .github/workflows/static_analysis.yml
Due: yamllint, typos

dev
  .pre-commit-config.yaml
Due: yamllint, typos

[ci] move js and json linter `biome` to pre-commit (#7059)
  .ci/lint-all.sh
  .ci/lint-js.sh
  .gitignore
  .pre-commit-config.yaml
  biome.json
Due: biome, yamllint, typos

Apply suggestions from code review
  .ci/check-workflow-status.sh
  .github/workflows/r_valgrind.yml
Due: yamllint, typos

[ci] use GitHub built-in token, switch comment-triggered jobs to workflow dispatch (fixes #7012) (#7035)
  .ci/append-comment.sh
  .ci/check-workflow-status.sh
  .ci/get-workflow-status.py
  .ci/rerun-workflow.sh
  .ci/set-commit-status.sh
  .ci/trigger-dispatch-run.sh
  .github/workflows/optional_checks.yml
  .github/workflows/r_configure.yml
  .github/workflows/r_valgrind.yml
  .github/workflows/triggering_comments.yml
  R-package/README.md
Due: ruff, ruff-format, yamllint, typos

[ci] generate valgrind suppressions in logs
  .ci/test-r-package-valgrind.sh
Due: typos

comment out most CI
  .appveyor.yml
  .github/workflows/cuda.yml
  .github/workflows/python_package.yml
  .github/workflows/r_package.yml
  .vsts-ci.yml
Due: yamllint, typos

Implement CUDABinaryErrorMetric
  src/metric/cuda/cuda_binary_metric.cpp
  src/metric/cuda/cuda_binary_metric.hpp
  src/metric/cuda/cuda_pointwise_metric.cpp
  src/metric/cuda/cuda_pointwise_metric.cu
  src/metric/metric.cpp
Due: cpplint, openmp-pragmas, typos

Move CUDA binary metric constructor definitions to bottom of cuda_binary_metric.cpp, like done in regression metrics
  src/metric/cuda/cuda_binary_metric.cpp
Due: cpplint, openmp-pragmas, typos

Separate Regression and Binary metrics in pointwise metric files
  src/metric/cuda/cuda_pointwise_metric.cpp
  src/metric/cuda/cuda_pointwise_metric.cu
Due: cpplint, openmp-pragmas, typos

Add test for _cint64_array_to_numpy
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

some updates, comment out most CI
  .appveyor.yml
  .ci/rerun-workflow.sh
  .ci/test-r-package-valgrind.sh
  .github/workflows/cpp.yml
  .github/workflows/cuda.yml
  .github/workflows/python_package.yml
  .github/workflows/r_package.yml
  .github/workflows/r_valgrind.yml
  .github/workflows/swig.yml
  .vsts-ci.yml
Due: yamllint, typos

restore only-run-on-GitHub-actions stuff
  .ci/rerun-workflow.sh
Due: typos

try using run-name
  .ci/check-workflow-status.sh
  .github/workflows/r_valgrind.yml
Due: yamllint, typos

[docs] [R-package] fix HTML generation errors in R docs, update to roxygen2 7.3.3
  R-package/DESCRIPTION
  R-package/R/lgb.Booster.R
  R-package/R/lgb.Dataset.R
  R-package/man/lgb_predict_shared_params.Rd
  R-package/man/lgb_shared_dataset_params.Rd
  docs/env.yml
Due: yamllint, typos

fix conda env
  docs/env.yml
Due: yamllint, typos

Revert "Add test for _cint64_array_to_numpy"
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

Update R-package/R/lgb.Dataset.R
  R-package/R/lgb.Dataset.R
Due: typos

more changes
  .ci/check-workflow-status.sh
  .ci/rerun-workflow.sh
  .github/workflows/r_valgrind.yml
Due: yamllint, typos

update docs
  R-package/man/lgb_shared_dataset_params.Rd
Due: none

[docs] [R-package] fix HTML generation errors in R docs, update to roxygen2 7.3.3 (#7074)
  R-package/DESCRIPTION
  R-package/R/lgb.Booster.R
  R-package/R/lgb.Dataset.R
  R-package/man/lgb_predict_shared_params.Rd
  R-package/man/lgb_shared_dataset_params.Rd
  docs/env.yml
Due: yamllint, typos

[python-package][tests] enhance `test_set_field_none_removes_field` test (#7044)
  tests/python_package_test/test_basic.py
  tests/python_package_test/test_dask.py
  tests/python_package_test/test_engine.py
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos

Add test for _cint64_array_to_numpy through public API
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

Move test_predict_contrib_int64 to test_engine.py
  tests/python_package_test/test_basic.py
  tests/python_package_test/test_engine.py
Due: ruff, ruff-format, typos

Use conventions in test_engine.py
  tests/python_package_test/test_engine.py
Due: ruff, ruff-format, typos

fix bagging by query
  src/boosting/bagging.hpp
Due: cpplint, openmp-pragmas, typos

more updates
  .ci/check-workflow-status.sh
Due: typos

more fixes
  .ci/check-workflow-status.sh
  .github/workflows/optional_checks.yml
Due: yamllint, typos

fix workflow status
  .ci/check-workflow-status.sh
  .github/workflows/r_valgrind.yml
Due: yamllint, typos

small fixes, test that this works when the workflow run fails
  .ci/check-workflow-status.sh
  .ci/rerun-workflow.sh
  .ci/test-r-package-valgrind.sh
Due: typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

