Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$


[c++] default to C++17 for most builds
  CMakeLists.txt
Due: typos

fix build
  src/treelearner/cuda/cuda_best_split_finder.cpp
  src/treelearner/cuda/cuda_best_split_finder.hpp
Due: cpplint, openmp-pragmas, typos

Add test and run pre-commit
  include/LightGBM/cuda/cuda_tree.hpp
  tests/python_package_test/test_basic.py
Due: cpplint, openmp-pragmas, ruff, ruff-format, typos

[docs] update Ray section
  docs/Parallel-Learning-Guide.rst
Due: typos

[docs] add Ray to external repositories
  README.md
Due: typos

[docs] simplify Ray note
  docs/Parallel-Learning-Guide.rst
Due: typos

[ci] [C++] drop support for Visual Studio 2015 (fixes #6803)
  .appveyor.yml
  R-package/src/install.libs.R
  docs/Installation-Guide.rst
Due: yamllint, typos

[ci] [swig] move SWIG jobs to GitHub Actions
  .ci/test-windows.ps1
  .github/workflows/swig.yml
  .vsts-ci.yml
Due: yamllint, typos

Update tests/python_package_test/test_basic.py
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

Fix max_depth<=0 for cuda implementation.
  src/treelearner/cuda/cuda_best_split_finder.cpp
Due: cpplint, openmp-pragmas, typos

change max_depth test
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

set compiler for Windows jobs
  .github/workflows/swig.yml
Due: yamllint, typos

[R-package] [ci] drop R 3.x support (fixes #7023)
  .ci/test-r-package-windows.ps1
  .ci/test-r-package.sh
  .github/workflows/r_package.yml
  R-package/DESCRIPTION
  R-package/R/lgb.Dataset.R
  R-package/README.md
  R-package/configure.win
  R-package/tests/testthat/helper.R
  R-package/tests/testthat/test_lgb.Booster.R
  build-cran-package.sh
  build_r.R
  docker/README.md
Due: yamllint, typos

fix tests, skip more CI
  .appveyor.yml
  .github/workflows/cuda.yml
  .github/workflows/python_package.yml
  R-package/tests/testthat/helper.R
  R-package/tests/testthat/test_lgb.Booster.R
Due: yamllint, typos

add some debug logs to FindLibR
  cmake/modules/FindLibR.cmake
Due: typos

[docs] add StackOverflow badge in README
  README.md
Due: typos

Update README.md
  README.md
Due: typos

Rename linkchecker.yml to lychee.yml
  .github/workflows/lychee.yml
Due: yamllint, typos

Update test-docs.sh
  .ci/test-docs.sh
Due: typos

Update and rename .linkcheckerrc to .lychee.toml
  docs/.linkcheckerrc
  docs/.lychee.toml
Due: typos

Update lychee.yml
  .github/workflows/lychee.yml
Due: yamllint, typos

Update .lychee.toml
  docs/.lychee.toml
Due: typos
