Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$


[ci] Drop support for Python 3.7 and Python 3.8 (#6896)
  .appveyor.yml
  .ci/conda-envs/ci-core-py38.txt
  .ci/conda-envs/ci-core-py39.txt
  .ci/pip-envs/requirements-oldest.txt
  .ci/test-windows.ps1
  .ci/test.sh
  .github/workflows/python_package.yml
  python-package/README.rst
  python-package/pyproject.toml
Due: validate-pyproject, yamllint, typos

Fix: Suppress confusing warning in dask module
  python-package/lightgbm/dask.py
Due: ruff, ruff-format, mypy, typos

Improve user-set parameter overwrite warning
  python-package/lightgbm/dask.py
Due: ruff, ruff-format, mypy, typos

Update README.md
  README.md
Due: typos

fix tests
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos

one more warning
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos

[ci] update pre-commit versions, add some pixi things to config files (#6986)
  .gitignore
  .pre-commit-config.yaml
  biome.json
  docs/conf.py
  python-package/lightgbm/basic.py
  python-package/lightgbm/callback.py
  python-package/lightgbm/compat.py
  python-package/lightgbm/dask.py
  python-package/lightgbm/libpath.py
  python-package/lightgbm/plotting.py
  src/io/cuda/cuda_column_data.cpp
  src/io/cuda/cuda_row_data.cpp
  tests/python_package_test/test_sklearn.py
Due: cpplint, openmp-pragmas, ruff, ruff-format, mypy, biome, yamllint, typos

revert quoting changes
  .github/workflows/static_analysis.yml
Due: yamllint, typos

[ci] use 'pre-commit' to run 'rstcheck'
  .ci/test.sh
  .pre-commit-config.yaml
  docs/env.yml
  python-package/pyproject.toml
Due: validate-pyproject, yamllint, typos

[ci] use 'pre-commit' to run 'cmakelint'
  .ci/lint-cpp.sh
  .ci/test.sh
  .pre-commit-config.yaml
Due: yamllint, typos

[ci] try pinning openjpeg
  .ci/conda-envs/ci-core-py39.txt
  .github/workflows/cuda.yml
  .github/workflows/r_package.yml
  .vsts-ci.yml
Due: yamllint, typos

pin even more
  .ci/conda-envs/ci-core-py39.txt
Due: typos

only pin graphite2
  .ci/conda-envs/ci-core-py39.txt
Due: typos

try removing all customizations
  .ci/conda-envs/ci-core-py39.txt
Due: typos

restore all CI
  .ci/conda-envs/ci-core-py39.txt
  .github/workflows/cuda.yml
  .github/workflows/r_package.yml
  .vsts-ci.yml
Due: yamllint, typos

add a 'conda info'
  .ci/test-windows.ps1
Due: typos

add a 'conda list' too
  .ci/setup.sh
  .ci/test-windows.ps1
  .ci/test.sh
Due: typos

move conda block in test.sh
  .ci/setup.sh
Due: typos

restrict max depth of leaves in cuda version
  include/LightGBM/cuda/cuda_tree.hpp
  src/io/cuda/cuda_tree.cpp
  src/treelearner/cuda/cuda_best_split_finder.cpp
  src/treelearner/cuda/cuda_single_gpu_tree_learner.cpp
Due: cpplint, openmp-pragmas, typos

restrict max depth of leaves in split finder of cuda version
  src/treelearner/cuda/cuda_best_split_finder.cpp
  src/treelearner/cuda/cuda_best_split_finder.hpp
Due: cpplint, openmp-pragmas, typos

[docs] [python-package] document how to run Python tests
  python-package/README.rst
Due: typos

[ci] pin graphite2 in Python 3.9 environment (#6992)
  .ci/conda-envs/ci-core-py39.txt
  .ci/setup.sh
  .ci/test-windows.ps1
  .ci/test.sh
Due: typos

fix(security): remove unsafe pickle example and add warnings to prevent RCE
  docs/Parallel-Learning-Guide.rst
Due: typos

fix(security): remove unsafe pickle serialization example from advanced_example.py
  examples/python-guide/advanced_example.py
Due: ruff, ruff-format, typos

fix(security): add runtime warning for unsafe pickle deserialization in Booster.__setstate__
  python-package/lightgbm/basic.py
Due: ruff, ruff-format, mypy, typos

[ci] [python-package] skip ranking Dask tests on macOS
  tests/python_package_test/test_dask.py
Due: ruff, ruff-format, typos

rename lint-python-bash.sh to run-pre-commit-mypy.sh
  .ci/run-pre-commit-mypy.sh
  .ci/test.sh
  python-package/README.rst
Due: typos

refer to installation instructions
  python-package/README.rst
Due: typos

[ci] use 'pre-commit' to run 'cmakelint' (#6993)
  .ci/lint-cpp.sh
  .ci/test.sh
  .pre-commit-config.yaml
Due: yamllint, typos

[ci] [python-package] skip ranking Dask tests on macOS (#6997)
  tests/python_package_test/test_dask.py
Due: ruff, ruff-format, typos

[security] Add bounds check in StringToArrayFast() to prevent heap buffer over-read
  include/LightGBM/utils/common.h
Due: cpplint, openmp-pragmas, typos

[docs] [python-package] document how to run Python tests (#6995)
  python-package/README.rst
Due: typos

[ci] use 'pre-commit' to run 'rstcheck' (#6989)
  .ci/run-pre-commit-mypy.sh
  .ci/test.sh
  .pre-commit-config.yaml
  docs/env.yml
  python-package/README.rst
  python-package/pyproject.toml
Due: validate-pyproject, yamllint, typos

add interface for pairwise prediction
  src/application/predictor.hpp
  src/c_api.cpp
Due: cpplint, openmp-pragmas, typos

[docs] [ci] automatically re-generate parameter docs via pre-commit
  .ci/test.sh
  .pre-commit-config.yaml
Due: yamllint, typos

Add blind_volume parameter to training Config (disabled by default)
  include/LightGBM/config.h
Due: cpplint, openmp-pragmas, typos

Parse blind_volume in config, add to dump and types (auto config)
  src/io/config_auto.cpp
Due: cpplint, openmp-pragmas, typos

GBDT: scaffolding for blinding (state struct and hooks)
  src/boosting/gbdt.h
Due: cpplint, openmp-pragmas, typos

GBDT: implement blinding scaffolding (precompute median bins, per-iter masks, hooks)
  src/boosting/gbdt.cpp
  src/boosting/gbdt.h
Due: cpplint, openmp-pragmas, typos

CPU blinding: wire per-iteration masks; route blinded cells to median bin in row-wise dense multi-val hist path; add no-op APIs for blinding context
  include/LightGBM/bin.h
  include/LightGBM/tree_learner.h
  src/boosting/gbdt.h
  src/io/multi_val_dense_bin.hpp
  src/treelearner/serial_tree_learner.h
Due: cpplint, openmp-pragmas, typos
