Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

cpplint:
  name: cpplint
  entry: "pixi run -e lint cpplint\n  --filter=-build/c++11,-build/include_subdir,-build/header_guard,-whitespace/line_length\n  --recursive ./src ./include ./R-package ./swig ./tests"
  language: system
  require_serial: true
  pass_filenames: false

openmp-pragmas:
  name: openmp-pragmas
  entry: pixi run -e lint sh .ci/lint/lint-openmp-pragmas.sh
  language: system
  require_serial: true
  pass_filenames: false

ruff:
  name: ruff
  entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: pixi run -e lint ruff format --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: pixi run -e lint sh -c "mypy --config-file=./python-package/pyproject.toml %@ || true"
  language: system
  require_serial: true

validate-pyproject:
  name: validate-pyproject
  entry: pixi run -e lint validate-pyproject
  language: python

biome:
  name: biome
  entry: pixi run -e lint biome ci --config-path=./biome.json --diagnostic-level=info --error-on-warnings ./
  language: system
  require_serial: true
  pass_filenames: false

yamllint:
  name: yamllint
  entry: pixi run -e lint yamllint
  language: system

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

create directory unconditionally
  .appveyor.yml
  .ci/test-windows.ps1
Due: yamllint, typos

[ci] move C++ test jobs to GitHub Actions (#7033)
  .github/workflows/cpp.yml
  .github/workflows/python_package.yml
  .vsts-ci.yml
Due: yamllint, typos

dev
  .github/workflows/static_analysis.yml
  .pre-commit-config.yaml
Due: yamllint, typos

dev
  src/boosting/boosting.cpp
  src/boosting/gbdt_prediction.cpp
  src/boosting/sample_strategy.cpp
  src/io/config_auto.cpp
  src/metric/metric.cpp
  src/objective/objective_function.cpp
  src/treelearner/tree_learner.cpp
  tests/cpp_tests/test_chunked_array.cpp
Due: cpplint, openmp-pragmas, typos

Update static_analysis.yml
  .github/workflows/static_analysis.yml
Due: yamllint, typos

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: yamllint, typos

dev
  include/LightGBM/boosting.h
  include/LightGBM/config.h
  include/LightGBM/cuda/cuda_metadata.hpp
  include/LightGBM/metric.h
Due: cpplint, openmp-pragmas, typos

fix build for rocm 7.0
  include/LightGBM/cuda/cuda_rocm_interop.h
Due: cpplint, openmp-pragmas, typos

[ci] [swig] move SWIG jobs to GitHub Actions (#7024)
  .appveyor.yml
  .ci/test-windows.ps1
  .ci/test.sh
  .github/workflows/swig.yml
  .vsts-ci.yml
Due: yamllint, typos

dev
  include/LightGBM/bin.h
  include/LightGBM/cuda/cuda_column_data.hpp
  include/LightGBM/cuda/cuda_objective_function.hpp
  include/LightGBM/cuda/cuda_split_info.hpp
  include/LightGBM/cuda/cuda_tree.hpp
  include/LightGBM/dataset.h
  include/LightGBM/dataset_loader.h
  include/LightGBM/export.h
  include/LightGBM/utils/binary_writer.h
  include/LightGBM/utils/random.h
  src/boosting/bagging.hpp
  src/boosting/cuda/cuda_score_updater.hpp
  src/io/dense_bin.hpp
  src/io/multi_val_dense_bin.hpp
  src/io/parser.hpp
  src/metric/cuda/cuda_binary_metric.hpp
  src/metric/map_metric.hpp
  src/metric/rank_metric.hpp
  src/objective/cuda/cuda_rank_objective.hpp
  src/objective/cuda/cuda_regression_objective.hpp
  src/objective/xentropy_objective.hpp
  src/treelearner/cuda/cuda_histogram_constructor.hpp
  src/treelearner/feature_histogram.hpp
  src/treelearner/gpu_tree_learner.h
Due: cpplint, openmp-pragmas, typos

Add back y.copy()
  tests/python_package_test/test_engine.py
Due: ruff, ruff-format, typos

Capture 'this' in lambda for threshold function
  src/treelearner/feature_histogram.hpp
Due: cpplint, openmp-pragmas, typos

[ci][docs] fix link checking action by switching from linkchecker to lychee and update some links (#7027)
  .ci/test-docs.sh
  .github/workflows/lychee.yml
  R-package/DESCRIPTION
  R-package/R/lightgbm.R
  R-package/README.md
  R-package/cran-comments.md
  R-package/man/agaricus.test.Rd
  R-package/man/agaricus.train.Rd
  R-package/man/bank.Rd
  README.md
  docs/.linkcheckerrc
  docs/.lychee.toml
  docs/Advanced-Topics.rst
  docs/Experiments.rst
  docs/Features.rst
  docs/GPU-Performance.rst
  docs/GPU-Targets.rst
  docs/GPU-Tutorial.rst
  docs/Parameters.rst
  examples/README.md
  include/LightGBM/config.h
  python-package/README.rst
  src/metric/multiclass_metric.hpp
  src/treelearner/linear_tree_learner.cpp
Due: cpplint, openmp-pragmas, yamllint, typos

more updates
  .pre-commit-config.yaml
  CMakeLists.txt
  R-package/README.md
Due: yamllint, typos

fix formatting
  CMakeLists.txt
Due: typos

[c++] default to C++17 for most builds (#7016)
  .pre-commit-config.yaml
  CMakeLists.txt
  R-package/README.md
Due: yamllint, typos

dev
  include/LightGBM/cuda/cuda_row_data.hpp
Due: cpplint, openmp-pragmas, typos

dev
  include/LightGBM/cuda/cuda_column_data.hpp
  include/LightGBM/cuda/cuda_row_data.hpp
  include/LightGBM/cuda/cuda_split_info.hpp
  include/LightGBM/cuda/cuda_tree.hpp
  include/LightGBM/dataset.h
  include/LightGBM/export.h
  src/boosting/dart.hpp
  src/boosting/rf.hpp
  src/objective/xentropy_objective.hpp
  src/treelearner/cuda/cuda_gradient_discretizer.hpp
Due: cpplint, openmp-pragmas, typos

dev
  include/LightGBM/arrow.h
  include/LightGBM/cuda/cuda_metadata.hpp
  include/LightGBM/utils/array_args.h
  include/LightGBM/utils/openmp_wrapper.h
  include/LightGBM/utils/yamc/alternate_shared_mutex.hpp
  include/LightGBM/utils/yamc/yamc_rwlock_sched.hpp
  include/LightGBM/utils/yamc/yamc_shared_lock.hpp
  src/application/predictor.hpp
  src/boosting/score_updater.hpp
  src/metric/xentropy_metric.hpp
  src/treelearner/gradient_discretizer.hpp
  swig/StringArray.hpp
  tests/cpp_tests/testutils.h
Due: cpplint, openmp-pragmas, typos

dev
  include/LightGBM/cuda/cuda_rocm_interop.h
Due: cpplint, openmp-pragmas, typos

dev
  .github/workflows/static_analysis.yml
Due: yamllint, typos

dev
  include/LightGBM/meta.h
  src/io/bin.cpp
  src/metric/cuda/cuda_binary_metric.cpp
  src/metric/xentropy_metric.hpp
  src/treelearner/data_parallel_tree_learner.cpp
  src/treelearner/feature_histogram.cpp
  src/treelearner/feature_parallel_tree_learner.cpp
  src/treelearner/voting_parallel_tree_learner.cpp
  tests/cpp_tests/testutils.cpp
Due: cpplint, openmp-pragmas, typos

dev
  src/io/dataset.cpp
  src/treelearner/feature_histogram.cpp
Due: cpplint, openmp-pragmas, typos

dev
  src/io/dataset.cpp
Due: cpplint, openmp-pragmas, typos

[docs] update badges in README
  README.md
Due: typos

Update lychee.yml
  .github/workflows/lychee.yml
Due: yamllint, typos

Update and rename test-docs.sh to build-docs.sh
  .ci/build-docs.sh
  .ci/test-docs.sh
Due: typos

Update README.md
  README.md
Due: typos

[docs] update badges in README (#7057)
  README.md
Due: typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

