Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

cpplint:
  name: cpplint
  entry: "pixi run -e lint cpplint\n  --filter=-build/c++11,-build/include_subdir,-build/header_guard,-whitespace/line_length\n  --recursive ./src ./include ./R-package ./swig ./tests"
  language: system
  require_serial: true
  pass_filenames: false

openmp-pragmas:
  name: openmp-pragmas
  entry: pixi run -e lint sh .ci/lint/lint-openmp-pragmas.sh
  language: system
  require_serial: true
  pass_filenames: false

ruff:
  name: ruff
  entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: pixi run -e lint ruff format --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: pixi run -e lint sh -c "mypy --config-file=./python-package/pyproject.toml %@ || true"
  language: system
  require_serial: true

validate-pyproject:
  name: validate-pyproject
  entry: pixi run -e lint validate-pyproject
  language: python

biome:
  name: biome
  entry: pixi run -e lint biome ci --config-path=./biome.json --diagnostic-level=info --error-on-warnings ./
  language: system
  require_serial: true
  pass_filenames: false

yamllint:
  name: yamllint
  entry: pixi run -e lint yamllint
  language: system

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

serial_tree_learner: prepare hook to apply blinding context to row-wise path (placeholder)
  src/treelearner/serial_tree_learner.cpp
Due: cpplint, openmp-pragmas, typos

bridge blinding context through TrainingShareStates; add context storage and application in MultiValDenseBin; adjust loops for masked routing
  include/LightGBM/train_share_states.h
Due: cpplint, openmp-pragmas, typos

GBDT: pass blinding context to learner each iteration (training only)
  src/boosting/gbdt.cpp
Due: cpplint, openmp-pragmas, typos

[docs] [ci] automatically re-generate parameter docs via pre-commit (#7001)
  .ci/test.sh
  .pre-commit-config.yaml
Due: yamllint, typos

Complete CPU blinding implementation
  better_test.txt
  blinding_logic.hpp
  include/LightGBM/train_share_states.h
  model_no_blind.txt
  model_test.txt
  serial_tree_learner.patch
  simple_test.txt
  src/boosting/gbdt.cpp
  src/boosting/gbdt.h
  src/io/multi_val_dense_bin.hpp
  src/treelearner/serial_tree_learner.cpp
  test_blinding.py
Due: cpplint, openmp-pragmas, ruff, ruff-format, typos

Add warning when blinding is automatically disabled
  comprehensive_test.py
  debug_constant.py
  debug_init_blinding.py
  minimal_crash_test.py
  src/boosting/gbdt.cpp.backup
  test_model.txt
  test_original_lgbm.py
  test_warning.py
Due: ruff, ruff-format, typos

GPU blinding implementation scaffolding
  better_test.txt
  comprehensive_test.py
  debug_constant.py
  debug_init_blinding.py
  minimal_crash_test.py
  model_no_blind.txt
  model_test.txt
  simple_test.txt
  src/treelearner/cuda/cuda_histogram_constructor.cpp
  src/treelearner/cuda/cuda_histogram_constructor.cu
  src/treelearner/cuda/cuda_histogram_constructor.hpp
  src/treelearner/cuda/cuda_single_gpu_tree_learner.cpp
  src/treelearner/cuda/cuda_single_gpu_tree_learner.hpp
  test_blinding.py
  test_model.txt
  test_original_lgbm.py
  test_warning.py
Due: cpplint, openmp-pragmas, ruff, ruff-format, typos

[ci] [c++] use 'pre-commit' to run 'cpplint', upgrade to 'cpplint' 2.0.2
  .ci/check-omp-pragmas.sh
  .ci/test.sh
  .pre-commit-config.yaml
  include/LightGBM/dataset.h
  include/LightGBM/utils/array_args.h
  include/LightGBM/utils/common.h
  include/LightGBM/utils/openmp_wrapper.h
  include/LightGBM/utils/text_reader.h
  src/application/application.cpp
  src/boosting/gbdt.cpp
  src/boosting/goss.hpp
  src/boosting/rf.hpp
  src/c_api.cpp
  src/io/bin.cpp
  src/io/dataset_loader.cpp
  src/io/metadata.cpp
  src/metric/dcg_calculator.cpp
  src/metric/map_metric.hpp
  src/network/linker_topo.cpp
  src/objective/rank_objective.hpp
  src/treelearner/col_sampler.hpp
  src/treelearner/data_parallel_tree_learner.cpp
  src/treelearner/feature_parallel_tree_learner.cpp
  src/treelearner/gpu_tree_learner.cpp
  src/treelearner/serial_tree_learner.cpp
  src/treelearner/voting_parallel_tree_learner.cpp
Due: cpplint, openmp-pragmas, yamllint, typos

remove bashisms
  .ci/check-omp-pragmas.sh
Due: typos

[ci] separate configs and scripts for linting and docs CI
  .ci/lint-all.sh
  .ci/test-docs.sh
  .ci/test.sh
  .github/workflows/linkchecker.yml
  .github/workflows/static_analysis.yml
Due: yamllint, typos

one more pipefail use
  .ci/check-omp-pragmas.sh
Due: typos

another pipefail
  .ci/check-omp-pragmas.sh
Due: typos

[ci] [python-package] work around missing pyarrow manylinux nightlies
  .ci/pip-envs/requirements-latest.txt
Due: typos

Fix blind_volume parameter bug - Apply blinding context immediately after SetBlinding
  docs/Parameters.rst
  src/io/config_auto.cpp
  src/treelearner/serial_tree_learner.h
Due: cpplint, openmp-pragmas, typos

feat: Configure package for dual installation with original LightGBM
  python-package/lightgbm/__init__.py
  python-package/pyproject.toml
  src/boosting/gbdt.cpp.backup
Due: ruff, ruff-format, mypy, validate-pyproject, typos

Dual package setup readme
  DUAL_PACKAGE_SETUP.md
Due: typos

python-package: sample rows batchwise from Sequence list
  python-package/lightgbm/basic.py
Due: ruff, ruff-format, mypy, typos

Add function to iterate over batches of data from all sequences
  python-package/lightgbm/basic.py
Due: ruff, ruff-format, mypy, typos

Add example to Sequence docstring
  python-package/lightgbm/basic.py
Due: ruff, ruff-format, mypy, typos

Add R-squared metric, documentation, and tests
  R-package/R/metrics.R
  docs/Parameters.rst
  include/LightGBM/config.h
  src/metric/metric.cpp
  src/metric/regression_metric.hpp
  tests/python_package_test/test_engine.py
Due: cpplint, openmp-pragmas, ruff, ruff-format, typos

Replace itertools.batched() with "manual" batching
  python-package/lightgbm/basic.py
Due: ruff, ruff-format, mypy, typos

[ci] [python-package] work around missing pyarrow manylinux nightlies (#7004)
  .ci/pip-envs/requirements-latest.txt
Due: typos

update name
  .github/workflows/static_analysis.yml
Due: yamllint, typos

[ci] [c++] use 'pre-commit' to run 'cpplint', upgrade to 'cpplint' 2.0.2 (#7002)
  .ci/check-omp-pragmas.sh
  .ci/test.sh
  .pre-commit-config.yaml
  include/LightGBM/dataset.h
  include/LightGBM/utils/array_args.h
  include/LightGBM/utils/common.h
  include/LightGBM/utils/openmp_wrapper.h
  include/LightGBM/utils/text_reader.h
  src/application/application.cpp
  src/boosting/gbdt.cpp
  src/boosting/goss.hpp
  src/boosting/rf.hpp
  src/c_api.cpp
  src/io/bin.cpp
  src/io/dataset_loader.cpp
  src/io/metadata.cpp
  src/metric/dcg_calculator.cpp
  src/metric/map_metric.hpp
  src/network/linker_topo.cpp
  src/objective/rank_objective.hpp
  src/treelearner/col_sampler.hpp
  src/treelearner/data_parallel_tree_learner.cpp
  src/treelearner/feature_parallel_tree_learner.cpp
  src/treelearner/gpu_tree_learner.cpp
  src/treelearner/serial_tree_learner.cpp
  src/treelearner/voting_parallel_tree_learner.cpp
Due: cpplint, openmp-pragmas, yamllint, typos

Fix static ci checks: correct Sklearn r2_score URL link, fix cpp linting errors
  include/LightGBM/config.h
  src/metric/regression_metric.hpp
Due: cpplint, openmp-pragmas, typos

Replace non-static data members from pragma reduction with variables
  src/metric/regression_metric.hpp
Due: cpplint, openmp-pragmas, typos

remove lint-cpp reference
  .ci/lint-all.sh
Due: typos

Update .ci/lint-all.sh
  .ci/lint-all.sh
Due: typos

[python-package] Fix mypy checks in `engine.py` (#6900)
  python-package/lightgbm/engine.py
Due: ruff, ruff-format, mypy, typos

revert env: blocks
  .github/workflows/static_analysis.yml
Due: yamllint, typos

[CUDA] default to C++17 for CUDA builds
  CMakeLists.txt
Due: typos

[ci] separate configs and scripts for linting and docs CI (#7003)
  .ci/lint-all.sh
  .ci/test-docs.sh
  .ci/test.sh
  .github/workflows/linkchecker.yml
  .github/workflows/static_analysis.yml
Due: yamllint, typos

add pair wise ranking iterative prediction
  include/LightGBM/config.h
  include/LightGBM/utils/text_reader.h
  src/application/predictor.hpp
  src/c_api.cpp
Due: cpplint, openmp-pragmas, typos

[CUDA] default to C++17 for CUDA builds (#7013)
  CMakeLists.txt
Due: typos

fix(callback): ensure reset_parameter callback works with sklearn interface
  python-package/lightgbm/callback.py
  tests/python_package_test/test_callback.py
Due: ruff, ruff-format, mypy, typos

update code
  python-package/lightgbm/sklearn.py
  tests/python_package_test/test_callback.py
Due: ruff, ruff-format, mypy, typos

update comment
  src/application/predictor.hpp
Due: cpplint, openmp-pragmas, typos

update docs
  docs/Parameters.rst
Due: typos

[python-package]avoid TypeError: ChunkedArray.to_numpy() takes no keyword arguments
  tests/python_package_test/test_arrow.py
Due: ruff, ruff-format, typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

