Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$


Update src/treelearner/cuda/cuda_leaf_splits.cu
  src/treelearner/cuda/cuda_leaf_splits.cu
Due: typos

update documentation to indicate supporting of multi-node multi-gpu training of CUDA version
  docs/Installation-Guide.rst
  include/LightGBM/config.h
Due: cpplint, openmp-pragmas, typos

dev
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

Update setup.sh
  .ci/setup.sh
Due: typos

Update python_package.yml
  .github/workflows/python_package.yml
Due: yamllint, typos

Update test-windows.ps1
  .ci/test-windows.ps1
Due: typos

Update build-docs.sh
  docs/build-docs.sh
Due: typos

Update .appveyor.yml
  .appveyor.yml
Due: yamllint, typos

Update test_arrow.py
  tests/python_package_test/test_arrow.py
Due: ruff, ruff-format, typos

Update test_basic.py
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

[ci] stop skipping Arrow test at Appveyor (#7050)
  .appveyor.yml
  tests/python_package_test/test_arrow.py
Due: ruff, ruff-format, yamllint, typos

dev
  tests/python_package_test/test_basic.py
  tests/python_package_test/test_dask.py
  tests/python_package_test/test_engine.py
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos

[ci] update Ruff version in pre-commit
  .pre-commit-config.yaml
Due: yamllint, typos

dev
  python-package/lightgbm/basic.py
  tests/python_package_test/test_basic.py
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, mypy, typos

[ci] update Ruff version in pre-commit (#7051)
  .pre-commit-config.yaml
Due: yamllint, typos

dev
  python-package/lightgbm/basic.py
  tests/python_package_test/test_engine.py
Due: ruff, ruff-format, mypy, typos

dev
  python-package/lightgbm/basic.py
Due: ruff, ruff-format, mypy, typos

Add additional asserts, remove needless y.copy()
  tests/python_package_test/test_engine.py
Due: ruff, ruff-format, typos

[ci] Revert fix recent conda and mamba matching error #7047 (#7049)
  .ci/setup.sh
  .ci/test-windows.ps1
  docs/build-docs.sh
Due: typos

Apply suggestions from code review
  .github/workflows/cpp.yml
Due: yamllint, typos

Apply suggestions from code review
  .github/workflows/swig.yml
Due: yamllint, typos
