Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

cpplint:
  name: cpplint
  entry: "pixi run -e lint cpplint\n  --filter=-build/c++11,-build/include_subdir,-build/header_guard,-whitespace/line_length\n  --recursive ./src ./include ./R-package ./swig ./tests"
  language: system
  require_serial: true
  pass_filenames: false

openmp-pragmas:
  name: openmp-pragmas
  entry: pixi run -e lint sh .ci/lint/lint-openmp-pragmas.sh
  language: system
  require_serial: true
  pass_filenames: false

ruff:
  name: ruff
  entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: pixi run -e lint ruff format --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: pixi run -e lint sh -c "mypy --config-file=./python-package/pyproject.toml %@ || true"
  language: system
  require_serial: true

validate-pyproject:
  name: validate-pyproject
  entry: pixi run -e lint validate-pyproject
  language: python

biome:
  name: biome
  entry: pixi run -e lint biome ci --config-path=./biome.json --diagnostic-level=info --error-on-warnings ./
  language: system
  require_serial: true
  pass_filenames: false

yamllint:
  name: yamllint
  entry: pixi run -e lint yamllint
  language: system

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

Update
  .pre-commit-config.yaml
Due: yamllint, typos

Fix
  .ci/conda-envs/ci-core-py39.txt
Due: typos

Fix
  .pre-commit-config.yaml
Due: yamllint, typos

Update comment
  pixi.toml
Due: typos

delete unnecessary-else
  python-package/lightgbm/basic.py
Due: ruff, ruff-format, mypy, typos

[python-package] Add superfluous-else-raise rule to ruff lint configuration
  python-package/pyproject.toml
Due: validate-pyproject, typos

[python-package] Fix code to follow superfluous-else-raise rule
  docs/conf.py
  python-package/lightgbm/basic.py
  python-package/lightgbm/sklearn.py
Due: ruff, ruff-format, mypy, typos

[python-package]add test for pyarrow table in Dataset.get_data()
  tests/python_package_test/test_arrow.py
Due: ruff, ruff-format, typos

[python-package]add test for add_features_from with pyarrow tables
  tests/python_package_test/test_arrow.py
Due: ruff, ruff-format, typos

[python-package] Move RET506 after RET504 to maintain alphabetical order and add source rule set comment
  python-package/pyproject.toml
Due: validate-pyproject, typos

[python-package] Revert unintended change to preserve original formatting
  docs/conf.py
Due: ruff, ruff-format, typos

[python-package] Add superfluous-else-raise (RET506) rule to Ruff (#6904)
  docs/conf.py
  python-package/lightgbm/basic.py
  python-package/lightgbm/sklearn.py
  python-package/pyproject.toml
Due: ruff, ruff-format, mypy, validate-pyproject, typos

[docs] document use of EffVer
  README.md
  docs/Installation-Guide.rst
Due: typos

change heading
  docs/Installation-Guide.rst
Due: typos

[docs][python] update types in docstring (#6897)
  python-package/lightgbm/basic.py
  python-package/lightgbm/sklearn.py
Due: ruff, ruff-format, mypy, typos

dev
  .github/workflows/python_package.yml
  python-package/lightgbm/sklearn.py
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, mypy, yamllint, typos

dev
  .github/workflows/python_package.yml
  tests/python_package_test/_test_arrow.py
  tests/python_package_test/_test_basic.py
  tests/python_package_test/_test_callback.py
  tests/python_package_test/_test_consistency.py
  tests/python_package_test/_test_dask.py
  tests/python_package_test/_test_dual.py
  tests/python_package_test/_test_engine.py
  tests/python_package_test/_test_plotting.py
  tests/python_package_test/_test_utilities.py
Due: ruff, ruff-format, yamllint, typos

dev
  .ci/test.sh
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos

dev
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos

dev
  python-package/lightgbm/sklearn.py
Due: ruff, ruff-format, mypy, typos

move nightly builds note
  docs/Installation-Guide.rst
Due: typos

dev
  python-package/lightgbm/compat.py
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, mypy, typos

dev
  .github/workflows/static_analysis.yml
Due: yamllint, typos

dev
  .ci/test.sh
  .github/workflows/python_package.yml
  .github/workflows/static_analysis.yml
  tests/python_package_test/test_arrow.py
  tests/python_package_test/test_basic.py
  tests/python_package_test/test_callback.py
  tests/python_package_test/test_consistency.py
  tests/python_package_test/test_dask.py
  tests/python_package_test/test_dual.py
  tests/python_package_test/test_engine.py
  tests/python_package_test/test_plotting.py
  tests/python_package_test/test_sklearn.py
  tests/python_package_test/test_utilities.py
Due: ruff, ruff-format, yamllint, typos

add test
  .ci/test.sh
  tests/cpp_tests/LightGBM_model_for_if_else_test.txt
  tests/cpp_tests/predict_nan_input.conf
  tests/cpp_tests/train_nan_input.conf
  tests/data/regression_with_nan_input.csv
Due: typos

fix: test
  .ci/test.sh
Due: typos

[python-package] add PyArrow Table to get_data
  python-package/lightgbm/basic.py
  tests/python_package_test/test_arrow.py
Due: ruff, ruff-format, mypy, typos

[python-package] add test for subset of PyArrow table dataset
  tests/python_package_test/test_arrow.py
Due: ruff, ruff-format, typos

address review comments
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos

remove debug leftout
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos

ensure name value is captured in error message, update name for all _list_to_1d_numpy calls
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

