Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$


dev
  .ci/lint-all.sh
  .ci/lint-js.sh
  .github/workflows/static_analysis.yml
  .pre-commit-config.yaml
Due: yamllint, typos

dev
  .pre-commit-config.yaml
Due: yamllint, typos

dev
  .editorconfig
  docs/_static/js/script.js
  examples/binary_classification/forced_splits.json
Due: biome, typos

dev
  .editorconfig
Due: none

dev
  docs/_static/js/script.js
  examples/binary_classification/forced_splits.json
Due: biome, typos

dev
  docs/_static/js/script.js
Due: biome, typos

dev
  examples/regression/forced_bins2.json
Due: biome, typos

dev
  biome.json
  docs/_static/js/script.js
  examples/regression/forced_bins2.json
Due: biome, typos

dev
  .pre-commit-config.yaml
  biome.json
  docs/_static/js/script.js
  examples/regression/forced_bins2.json
Due: biome, yamllint, typos

dev
  biome.json
Due: biome, typos

dev
  .pre-commit-config.yaml
  biome.json
Due: biome, yamllint, typos

dev
  biome.json
  docs/_static/js/script.js
Due: biome, typos

dev
  .gitignore
  biome.json
Due: biome, typos

вум
  biome.json
Due: biome, typos
