Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$


[ci][python-package] Enforce and fix ruff flake8-pytest-style (PT) linting codes (#6959)
  python-package/pyproject.toml
  tests/python_package_test/test_arrow.py
  tests/python_package_test/test_basic.py
  tests/python_package_test/test_dask.py
  tests/python_package_test/test_engine.py
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, validate-pyproject, typos

rename is_finished to produced_empty_tree in cpp and R code
  R-package/src/lightgbm_R.cpp
  include/LightGBM/c_api.h
  src/c_api.cpp
  tests/c_api_test/test_.py
  tests/cpp_tests/test_single_row.cpp
Due: cpplint, openmp-pragmas, ruff, ruff-format, typos

fix PS1 linter
  .ci/test-windows.ps1
  .github/workflows/static_analysis.yml
Due: yamllint, typos

revert workflow changes
  .github/workflows/static_analysis.yml
Due: yamllint, typos

revert one more workflow change
  .github/workflows/static_analysis.yml
Due: yamllint, typos

[ci] fix PowerShell linter (#6971)
  .ci/test-windows.ps1
Due: typos

rename C API argument
  include/LightGBM/c_api.h
Due: cpplint, openmp-pragmas, typos

Update to the version number with CVE fix
  VERSION.txt
Due: typos

Added README.md file
  python-package/README.md
Due: typos

Added README.md file in python-package
  python-package/README.md
Due: typos

Bug-fix of include c_api.h in C code
  include/LightGBM/arrow.h
  include/LightGBM/c_api.h
  src/c_api.cpp
Due: cpplint, openmp-pragmas, typos

[ROCm] add support for ROCm/HIP device (#6086)
  .gitignore
  CMakeLists.txt
  include/LightGBM/cuda/cuda_algorithms.hpp
  include/LightGBM/cuda/cuda_rocm_interop.h
  include/LightGBM/cuda/cuda_split_info.hpp
  include/LightGBM/cuda/vector_cudahost.h
  src/cuda/cuda_algorithms.cu
  src/metric/cuda/cuda_pointwise_metric.cu
  src/objective/cuda/cuda_binary_objective.cu
  src/objective/cuda/cuda_rank_objective.cu
  src/treelearner/cuda/cuda_best_split_finder.cu
  src/treelearner/cuda/cuda_data_partition.cu
  src/treelearner/cuda/cuda_gradient_discretizer.cu
  src/treelearner/cuda/cuda_histogram_constructor.cu
  src/treelearner/cuda/cuda_leaf_splits.cu
  src/treelearner/cuda/cuda_single_gpu_tree_learner.cu
Due: cpplint, openmp-pragmas, typos

Update src/treelearner/cuda/cuda_leaf_splits.cu
  src/treelearner/cuda/cuda_leaf_splits.cu
Due: typos

log: pass fatal errors to callback if set
  include/LightGBM/utils/log.h
Due: cpplint, openmp-pragmas, typos

use Path.resolve() instead of Path.absolute()
  python-package/lightgbm/__init__.py
  python-package/lightgbm/libpath.py
Due: ruff, ruff-format, mypy, typos

[docs] [ci] skip scikit-learn 1.7.1 in docs build (fixes #6978)
  docs/env.yml
Due: yamllint, typos

Update .github/workflows/cuda.yml
  .github/workflows/cuda.yml
Due: yamllint, typos

make tests compatible with pandas 3.0
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

use lightgbm_agent_pool_ado
  .vsts-ci.yml
Due: yamllint, typos

[ci] combine pip installs in Python test scripts
  .ci/pip-envs/requirements-latest.txt
  .ci/pip-envs/requirements-oldest.txt
  .ci/test-python-latest.sh
  .ci/test-python-oldest.sh
Due: typos

remove most CI
  .appveyor.yml
  .github/workflows/cuda.yml
  .github/workflows/r_package.yml
  .vsts-ci.yml
Due: yamllint, typos

Revert "remove most CI"
  .appveyor.yml
  .github/workflows/cuda.yml
  .github/workflows/r_package.yml
  .vsts-ci.yml
Due: yamllint, typos

[docs] [ci] skip scikit-learn 1.7.1 in docs build, make tests compatible with pandas 3.0, use new Azure DevOps pool (#6979)
  .vsts-ci.yml
  docs/env.yml
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, yamllint, typos

[cpp] rename is_finished to produced_empty_tree in cpp and R code (#6970)
  R-package/src/lightgbm_R.cpp
  include/LightGBM/c_api.h
  src/c_api.cpp
  tests/c_api_test/test_.py
  tests/cpp_tests/test_single_row.cpp
Due: cpplint, openmp-pragmas, ruff, ruff-format, typos

[ci] [CUDA] Switch to GitHub runner for GPU CI (#6958)
  .github/workflows/cuda.yml
Due: yamllint, typos

Revert "Update to the version number with CVE fix"
  VERSION.txt
Due: typos

[ci] combine pip installs in Python test scripts (#6981)
  .ci/pip-envs/requirements-latest.txt
  .ci/pip-envs/requirements-oldest.txt
  .ci/test-python-latest.sh
  .ci/test-python-oldest.sh
Due: typos

update version number
  VERSION.txt
Due: typos

[python-package] Follow symlinks to lib_lightgbm.so in library-loading (#6977)
  python-package/lightgbm/__init__.py
  python-package/lightgbm/libpath.py
Due: ruff, ruff-format, mypy, typos

[python-package] Fix mypy checks in `compat.py` (#6898)
  python-package/lightgbm/compat.py
Due: ruff, ruff-format, mypy, typos

Update python-package/lightgbm/engine.py
  python-package/lightgbm/engine.py
Due: ruff, ruff-format, mypy, typos

fix comment, revert unrelated quoting changes
  .ci/conda-envs/ci-core-py39.txt
  .github/workflows/python_package.yml
Due: yamllint, typos

add docs
  python-package/README.rst
Due: typos

[ci] update pre-commit versions, add some pixi things to config files
  .gitignore
  .pre-commit-config.yaml
  biome.json
  docs/conf.py
  python-package/lightgbm/basic.py
  python-package/lightgbm/callback.py
  python-package/lightgbm/compat.py
  python-package/lightgbm/dask.py
  python-package/lightgbm/libpath.py
  python-package/lightgbm/plotting.py
  src/io/cuda/cuda_column_data.cpp
  src/io/cuda/cuda_row_data.cpp
  tests/python_package_test/test_sklearn.py
Due: cpplint, openmp-pragmas, ruff, ruff-format, mypy, biome, yamllint, typos

fix libpath condition
  python-package/lightgbm/libpath.py
Due: ruff, ruff-format, mypy, typos

fix warning checks
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos
