Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

cpplint:
  name: cpplint
  entry: "pixi run -e lint cpplint\n  --filter=-build/c++11,-build/include_subdir,-build/header_guard,-whitespace/line_length\n  --recursive ./src ./include ./R-package ./swig ./tests"
  language: system
  require_serial: true
  pass_filenames: false

openmp-pragmas:
  name: openmp-pragmas
  entry: pixi run -e lint sh .ci/lint/lint-openmp-pragmas.sh
  language: system
  require_serial: true
  pass_filenames: false

ruff:
  name: ruff
  entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: pixi run -e lint ruff format --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: pixi run -e lint sh -c "mypy --config-file=./python-package/pyproject.toml %@ || true"
  language: system
  require_serial: true

validate-pyproject:
  name: validate-pyproject
  entry: pixi run -e lint validate-pyproject
  language: python

biome:
  name: biome
  entry: pixi run -e lint biome ci --config-path=./biome.json --diagnostic-level=info --error-on-warnings ./
  language: system
  require_serial: true
  pass_filenames: false

yamllint:
  name: yamllint
  entry: pixi run -e lint yamllint
  language: system

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

move ubuntu 22.04 to acr
  .vsts-ci.yml
Due: yamllint, typos

use ubuntu image on mcr
  .vsts-ci.yml
Due: yamllint, typos

restore artifact creation
  .vsts-ci.yml
Due: yamllint, typos

update one more link
  docs/Features.rst
Due: typos

[ci] update to 1ES image pool (#6866)
  .vsts-ci.yml
Due: yamllint, typos

[docs] fix link to "Parallel Algorithm for Decision Tree" paper (#6933)
  README.md
  docs/Features.rst
Due: typos

set useFancyQuotes to FALSE for entire package
  R-package/R/zzz.R
  R-package/tests/testthat/test_dataset.R
Due: typos

Specify standard single quotes at each sQuote callsite
  R-package/R/lgb.Booster.R
  R-package/R/lgb.Dataset.R
  R-package/R/lgb.Predictor.R
  R-package/R/lgb.drop_serialized.R
  R-package/R/lgb.make_serializable.R
  R-package/R/lgb.restore_handle.R
  R-package/R/utils.R
  R-package/R/zzz.R
Due: typos

Apply suggestions from code review
  R-package/tests/testthat/test_Predictor.R
  R-package/tests/testthat/test_dataset.R
Due: typos

fix share buffer size
  src/objective/cuda/cuda_rank_objective.cu
Due: typos

remove WARPSIZE before #6086 is merged
  src/treelearner/cuda/cuda_leaf_splits.cu
Due: typos

Remove superfluous argument commas
  R-package/tests/testthat/test_Predictor.R
  R-package/tests/testthat/test_dataset.R
Due: typos

[R-package] Add specific error messages to `test_Predictor` and `test_dataset` (#6931)
  R-package/R/lgb.Booster.R
  R-package/R/lgb.Dataset.R
  R-package/R/lgb.Predictor.R
  R-package/R/lgb.drop_serialized.R
  R-package/R/lgb.make_serializable.R
  R-package/R/lgb.restore_handle.R
  R-package/R/utils.R
  R-package/tests/testthat/test_Predictor.R
  R-package/tests/testthat/test_dataset.R
Due: typos

[swig] fix memory leak in swig interface (#6923)
  swig/lightgbmlib.i
Due: typos

Add period after specified linter names in nolint comments
  .ci/install-r-deps.R
  R-package/R/utils.R
  R-package/inst/make-r-def.R
  R-package/src/install.libs.R
  R-package/tests/testthat.R
  R-package/tests/testthat/test_utils.R
  build_r.R
Due: typos

Add unused_import linter when requiring processx
  build_r.R
Due: typos

[ci] [R-package] Add period after specified linter names in `nolint` comments (#6950)
  .ci/install-r-deps.R
  R-package/R/utils.R
  R-package/inst/make-r-def.R
  R-package/src/install.libs.R
  R-package/tests/testthat.R
  R-package/tests/testthat/test_utils.R
  build_r.R
Due: typos

[ci] stop testing on Windows Server 2019
  .github/workflows/r_package.yml
  .vsts-ci.yml
Due: yamllint, typos

update Visual Studio version
  .github/workflows/r_package.yml
Due: yamllint, typos

add support for newer MSVC versions
  cmake/IntegratedOpenCL.cmake
Due: typos

Add err messages to test_model_and_local_version_are_picklable_whether_or_not_client_set_explicitly
  tests/python_package_test/test_dask.py
Due: ruff, ruff-format, typos

[python-package] Add specific error messages to `test_dask` tests (#6955)
  tests/python_package_test/test_dask.py
Due: ruff, ruff-format, typos

switch to github runner for GPU CI
  .github/workflows/cuda.yml
Due: yamllint, typos

Add "PT" ruff code to pyproject.toml plus some exceptions
  python-package/pyproject.toml
Due: validate-pyproject, typos

Extend PT011 for Exception, IndexError, TypeError
  python-package/pyproject.toml
Due: validate-pyproject, typos

Fix PT001: Use `@pytest.fixture` over `@pytest.fixture()`
  tests/python_package_test/test_dask.py
Due: ruff, ruff-format, typos

Fix PT011: pytest.raises({exception}) is too broad, set the match parameter or use a more specific exception
  tests/python_package_test/test_dask.py
Due: ruff, ruff-format, typos

Fix PT012: `pytest.raises()` block should contain a single simple statement
  tests/python_package_test/test_basic.py
  tests/python_package_test/test_dask.py
Due: ruff, ruff-format, typos

Fix PT017: Found assertion on exception {name} in except block, use pytest.raises() instead
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos

Fix PT018: Assertion should be broken down into multiple parts
  tests/python_package_test/test_basic.py
  tests/python_package_test/test_dask.py
  tests/python_package_test/test_engine.py
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos

Implement suggestions
  python-package/lightgbm/basic.py
Due: ruff, ruff-format, mypy, typos

Remove PT006 and PT007 from ignore list and fixup
  python-package/pyproject.toml
  tests/python_package_test/test_arrow.py
  tests/python_package_test/test_dask.py
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, validate-pyproject, typos

Use *Exception and *Error glob to apply PT011 and ignore AssertionErrors
  python-package/pyproject.toml
  tests/python_package_test/test_dask.py
  tests/python_package_test/test_engine.py
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, validate-pyproject, typos

[docs] add GBNet to External Repositories list
  README.md
Due: typos

temporarily skip integrated OpenCL on Windows
  .ci/test-windows.ps1
Due: typos

[ci] stop testing on Windows Server 2019 (#6953)
  .ci/test-windows.ps1
  .github/workflows/r_package.yml
  .vsts-ci.yml
  cmake/IntegratedOpenCL.cmake
Due: yamllint, typos

[docs] add GBNet to External Repositories list (#6965)
  README.md
Due: typos

Update python-package/lightgbm/basic.py
  python-package/lightgbm/basic.py
Due: ruff, ruff-format, mypy, typos

[docs] Fix docs of `Booster.update`'s return value `is_finished` (#6890)
  python-package/lightgbm/basic.py
Due: ruff, ruff-format, mypy, typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

