Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

cpplint:
  name: cpplint
  entry: "pixi run -e lint cpplint\n  --filter=-build/c++11,-build/include_subdir,-build/header_guard,-whitespace/line_length\n  --recursive ./src ./include ./R-package ./swig ./tests"
  language: system
  require_serial: true
  pass_filenames: false

openmp-pragmas:
  name: openmp-pragmas
  entry: pixi run -e lint sh .ci/lint/lint-openmp-pragmas.sh
  language: system
  require_serial: true
  pass_filenames: false

ruff:
  name: ruff
  entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: pixi run -e lint ruff format --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: pixi run -e lint sh -c "mypy --config-file=./python-package/pyproject.toml %@ || true"
  language: system
  require_serial: true

validate-pyproject:
  name: validate-pyproject
  entry: pixi run -e lint validate-pyproject
  language: python

biome:
  name: biome
  entry: pixi run -e lint biome ci --config-path=./biome.json --diagnostic-level=info --error-on-warnings ./
  language: system
  require_serial: true
  pass_filenames: false

yamllint:
  name: yamllint
  entry: pixi run -e lint yamllint
  language: system

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

fix issues with top_n_random_k and random_k
  src/io/metadata.cpp
Due: cpplint, openmp-pragmas, typos

fix random k mode in pairwise ranking
  src/io/metadata.cpp
Due: cpplint, openmp-pragmas, typos

Add TypeError message to function:test_list_to_1d_numpy
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

Add ValueError message to function:test_list_to_1d_numpy
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

Add Attribute match for the pytest.raises
  tests/python_package_test/test_dask.py
Due: ruff, ruff-format, typos

Revert "Add Attribute match for the pytest.raises"
  tests/python_package_test/test_dask.py
Due: ruff, ruff-format, typos

Update dask.py
  python-package/lightgbm/dask.py
Due: ruff, ruff-format, mypy, typos

[ci] skip self-hosted Linux CI jobs
  .vsts-ci.yml
Due: yamllint, typos

comment out Linux_latest too
  .vsts-ci.yml
Due: yamllint, typos

[ci] skip self-hosted Linux CI jobs (#6919)
  .vsts-ci.yml
Due: yamllint, typos

Update tests/python_package_test/test_sklearn.py
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos

[docs] document use of EffVer (#6905)
  README.md
  docs/Installation-Guide.rst
Due: typos

[python-package] Add specific error messages to `test_basic` and `test_dask` tests (#6893)
  tests/python_package_test/test_basic.py
  tests/python_package_test/test_dask.py
Due: ruff, ruff-format, typos

Update .vsts-ci.yml
  .vsts-ci.yml
Due: yamllint, typos

[swig] patch for memory leak in swig interface #6922
  swig/lightgbmlib.i
Due: typos

add error messages to test_metrics
  tests/python_package_test/test_engine.py
Due: ruff, ruff-format, typos

[python-package] Add specific error messages to `test_engine` (#6925)
  tests/python_package_test/test_engine.py
Due: ruff, ruff-format, typos

[ci] skip NuGet creation (#6921)
  .vsts-ci.yml
Due: yamllint, typos

add error messages to test_get_split_value_histogram
  tests/python_package_test/test_engine.py
Due: ruff, ruff-format, typos

[python-package] Add more specific error messages to `test_engine` (#6926)
  tests/python_package_test/test_engine.py
Due: ruff, ruff-format, typos

add error messages to test_plotting.py
  tests/python_package_test/test_plotting.py
Due: ruff, ruff-format, typos

[python-package] Add specific error messages to `test_plotting` (#6927)
  tests/python_package_test/test_plotting.py
Due: ruff, ruff-format, typos

add error messages to test_sklearn.py
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos

[python-package] Add specific error messages to `test_sklearn` (#6929)
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, typos

add specific error message to test_Predictor.R
  R-package/tests/testthat/test_Predictor.R
Due: typos

add specific error message to test_dataset.R
  R-package/tests/testthat/test_dataset.R
Due: typos

[python-package][sklearn] Support PyArrow Table as an input in scikit-learn methods (#6910)
  python-package/lightgbm/compat.py
  python-package/lightgbm/sklearn.py
  tests/python_package_test/test_sklearn.py
Due: ruff, ruff-format, mypy, typos

[python-package] improve PyArrow table subset tests for null values and chunking
  tests/python_package_test/test_arrow.py
Due: ruff, ruff-format, typos

Update README.md
  README.md
Due: typos

use WARPSIZE
  src/objective/cuda/cuda_rank_objective.cu
  src/treelearner/cuda/cuda_single_gpu_tree_learner.cu
Due: typos

Update include/LightGBM/config.h
  include/LightGBM/config.h
Due: cpplint, openmp-pragmas, typos

Update include/LightGBM/cuda/cuda_nccl_topology.hpp
  include/LightGBM/cuda/cuda_nccl_topology.hpp
Due: cpplint, openmp-pragmas, typos

Update src/treelearner/cuda/cuda_data_partition.cu
  src/treelearner/cuda/cuda_data_partition.cu
Due: typos

Update src/treelearner/cuda/cuda_leaf_splits.cu
  src/treelearner/cuda/cuda_leaf_splits.cu
Due: typos

use 1es agent pool for all
  .vsts-ci.yml
Due: yamllint, typos

capture both fancy and regular single quotes in R test messages
  R-package/tests/testthat/test_dataset.R
Due: typos

fixup error message grammar
  R-package/R/lgb.Dataset.R
  R-package/tests/testthat/test_dataset.R
Due: typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

