Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$


dev
  biome.json
Due: biome, typos

[ci][docs] use lychee GitHub actions for checking broken links (#7058)
  .ci/build-docs.sh
  .ci/test-docs.sh
  .github/workflows/lychee.yml
  .github/workflows/static_analysis.yml
Due: yamllint, typos

dev
  docs/_static/js/script.js
  examples/regression/forced_bins2.json
Due: biome, typos

dev
  .github/workflows/static_analysis.yml
Due: yamllint, typos

dev
  .github/workflows/static_analysis.yml
  biome.json
Due: biome, yamllint, typos

dev
  docs/_static/js/script.js
Due: biome, typos

dev
  .github/workflows/static_analysis.yml
  .pre-commit-config.yaml
Due: yamllint, typos

dev
  cmake/modules/FindLibR.cmake
Due: typos

[c++] Add CPU version of standard R-squared metric (#7008)
  R-package/R/metrics.R
  docs/Parameters.rst
  include/LightGBM/config.h
  src/metric/metric.cpp
  src/metric/regression_metric.hpp
  tests/python_package_test/test_engine.py
Due: cpplint, openmp-pragmas, ruff, ruff-format, typos

dev
  CMakeLists.txt
  cmake/modules/FindLibR.cmake
Due: typos

dev
  CMakeLists.txt
  cmake/IntegratedOpenCL.cmake
Due: typos

dev
  cmake/IntegratedOpenCL.cmake
Due: typos

[ci][c++] fixed `whitespace/indent_namespace` errors from cpplint (#7056)
  .pre-commit-config.yaml
  include/LightGBM/meta.h
  src/io/bin.cpp
  src/io/dataset.cpp
  src/metric/cuda/cuda_binary_metric.cpp
  src/metric/xentropy_metric.hpp
  src/treelearner/data_parallel_tree_learner.cpp
  src/treelearner/feature_histogram.cpp
  src/treelearner/feature_parallel_tree_learner.cpp
  src/treelearner/voting_parallel_tree_learner.cpp
  tests/cpp_tests/testutils.cpp
Due: cpplint, openmp-pragmas, yamllint, typos

Update .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: typos

[ci][cmake] make cmake-lint more strict (#7060)
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/IntegratedOpenCL.cmake
  cmake/modules/FindLibR.cmake
Due: yamllint, typos

[ci] Add sha of cpplint commit to `.git-blame-ignore-revs` (#7061)
  .git-blame-ignore-revs
Due: typos

Update README.rst
  python-package/README.rst
Due: typos

Update lint-all.sh
  .ci/lint-all.sh
Due: typos

Update and rename run-pre-commit-mypy.sh to run-pre-commit.sh
  .ci/run-pre-commit-mypy.sh
  .ci/run-pre-commit.sh
Due: typos

dev
  .ci/lint-all.sh
  .ci/run-pre-commit.sh
  .github/workflows/static_analysis.yml
  .pre-commit-config.yaml
  python-package/README.rst
Due: yamllint, typos

вум
  .pre-commit-config.yaml
Due: yamllint, typos

dev
  .pre-commit-config.yaml
Due: yamllint, typos

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: yamllint, typos
