Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$


run on push
  .github/workflows/triggering_comments.yml
Due: yamllint, typos

try more permissions
  .github/workflows/triggering_comments.yml
Due: yamllint, typos

does the token interfere with actions/checkout?
  .github/workflows/triggering_comments.yml
Due: yamllint, typos

hmmm
  .github/workflows/triggering_comments.yml
Due: yamllint, typos

ah, use API URL
  .github/workflows/triggering_comments.yml
Due: yamllint, typos

try a reusable workflow instead of repository_dispatch
  .github/workflows/r_valgrind.yml
  .github/workflows/triggering_comments.yml
Due: yamllint, typos

try just running valgrind directly
  .ci/append-comment.sh
  .github/workflows/r_valgrind.yml
  .github/workflows/triggering_comments.yml
Due: yamllint, typos

more permissions stuff
  .github/workflows/r_valgrind.yml
Due: yamllint, typos

change image
  .github/workflows/r_valgrind.yml
Due: yamllint, typos

arg not argjson
  .ci/append-comment.sh
Due: typos

update script
  .ci/append-comment.sh
Due: typos

stricter permissions
  .ci/trigger-dispatch-run.sh
  .github/workflows/r_valgrind.yml
  .github/workflows/triggering_comments.yml
Due: yamllint, typos

more permissions fiddling
  .ci/append-comment.sh
  .ci/set-commit-status.sh
  .github/workflows/r_valgrind.yml
Due: yamllint, typos

Update src/metric/metric.cpp
  src/metric/metric.cpp
Due: cpplint, openmp-pragmas, typos

more permissions tightening
  .github/workflows/r_valgrind.yml
Due: yamllint, typos

actually, fully run valgrind
  .github/workflows/r_valgrind.yml
Due: yamllint, typos

test r_configure
  .github/workflows/r_configure.yml
  .github/workflows/r_valgrind.yml
  R-package/configure.ac
Due: yamllint, typos

update r_configure
  .github/workflows/r_configure.yml
  R-package/README.md
Due: yamllint, typos

more changes
  .github/workflows/r_configure.yml
  R-package/configure
  R-package/configure.ac
Due: yamllint, typos

move get-workflow-status to a shell script
  .ci/get-workflow-status.py
  .ci/get-workflow-status.sh
  .github/workflows/optional_checks.yml
  .github/workflows/r_valgrind.yml
  R-package/README.md
Due: ruff, ruff-format, yamllint, typos

submodules not necessary for configure
  .github/workflows/r_configure.yml
Due: yamllint, typos

change step name
  .github/workflows/optional_checks.yml
Due: yamllint, typos

more updates
  .github/workflows/r_valgrind.yml
Due: yamllint, typos

restore CI
  .appveyor.yml
  .github/workflows/cuda.yml
  .github/workflows/python_package.yml
  .github/workflows/r_package.yml
  .github/workflows/static_analysis.yml
  .vsts-ci.yml
Due: yamllint, typos

docs, rename
  .ci/check-workflow-status.sh
  .github/workflows/optional_checks.yml
Due: yamllint, typos

Add test for Dataset.set_field
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

Add obj test
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

Use weight
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

[python-package] Add unit test for Dataset.set_field and no data (#7036)
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

[ci] update actions/checkout calls
  .github/workflows/cuda.yml
  .github/workflows/linkchecker.yml
  .github/workflows/optional_checks.yml
  .github/workflows/python_package.yml
  .github/workflows/r_package.yml
  .github/workflows/r_valgrind.yml
  .github/workflows/static_analysis.yml
  .github/workflows/triggering_comments.yml
Due: yamllint, typos

[R-package] [ci] drop support for R 3.x (fixes #7023)
  .ci/test-r-package-windows.ps1
  .github/workflows/r_package.yml
  R-package/DESCRIPTION
  R-package/R/lgb.Dataset.R
  R-package/README.md
  R-package/configure.win
  R-package/tests/testthat/helper.R
  build-cran-package.sh
  build_r.R
  docker/README.md
Due: yamllint, typos

Fix error in cpp_tests/test_arrow.cpp.
  tests/cpp_tests/test_arrow.cpp
Due: cpplint, openmp-pragmas, typos

update for ROCm 7 BC-breaking change to warpSize
  include/LightGBM/cuda/cuda_rocm_interop.h
Due: cpplint, openmp-pragmas, typos

lint
  include/LightGBM/cuda/cuda_rocm_interop.h
Due: cpplint, openmp-pragmas, typos

add test for get state
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

Revert "Fix error in cpp_tests/test_arrow.cpp."
  tests/cpp_tests/test_arrow.cpp
Due: cpplint, openmp-pragmas, typos

add --use-rocm option to build-python.sh
  build-python.sh
Due: typos

fix cuda build missing CUDASUCCESS_OR_FATAL in vector_cudahost.h
  include/LightGBM/cuda/vector_cudahost.h
Due: cpplint, openmp-pragmas, typos
