Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

cpplint:
  name: cpplint
  entry: "pixi run -e lint cpplint\n  --filter=-build/c++11,-build/include_subdir,-build/header_guard,-whitespace/line_length\n  --recursive ./src ./include ./R-package ./swig ./tests"
  language: system
  require_serial: true
  pass_filenames: false

openmp-pragmas:
  name: openmp-pragmas
  entry: pixi run -e lint sh .ci/lint/lint-openmp-pragmas.sh
  language: system
  require_serial: true
  pass_filenames: false

ruff:
  name: ruff
  entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: pixi run -e lint ruff format --force-exclude --config python-package/pyproject.toml
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: pixi run -e lint sh -c "mypy --config-file=./python-package/pyproject.toml %@ || true"
  language: system
  require_serial: true

validate-pyproject:
  name: validate-pyproject
  entry: pixi run -e lint validate-pyproject
  language: python

biome:
  name: biome
  entry: pixi run -e lint biome ci --config-path=./biome.json --diagnostic-level=info --error-on-warnings ./
  language: system
  require_serial: true
  pass_filenames: false

yamllint:
  name: yamllint
  entry: pixi run -e lint yamllint
  language: system

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

Update .lychee.toml
  docs/.lychee.toml
Due: typos

dev
  .ci/test-docs.sh
Due: typos

dev
  .github/workflows/lychee.yml
Due: yamllint, typos

update paper linkrs
  R-package/DESCRIPTION
  R-package/cran-comments.md
  README.md
  docs/.lychee.toml
  docs/Advanced-Topics.rst
  docs/Features.rst
  docs/Parameters.rst
  examples/README.md
  include/LightGBM/config.h
  src/treelearner/linear_tree_learner.cpp
Due: cpplint, openmp-pragmas, typos

skip conda setup on jobs that do not need it
  .ci/setup.sh
Due: typos

fix BUILD_DIRECTORY, add uploads
  .github/workflows/swig.yml
Due: yamllint, typos

fix more variables
  .ci/test.sh
  .github/workflows/swig.yml
Due: yamllint, typos

[python-package]Move final assertion before for loop to fail faster and group related comparisons
  tests/python_package_test/test_arrow.py
Due: ruff, ruff-format, typos

[python-package]Rename test helper and add docstring to clarify purpose
  tests/python_package_test/test_arrow.py
Due: ruff, ruff-format, typos

ensure artifact-upload directory actually exists
  .ci/test-windows.ps1
  .ci/test.sh
Due: typos

[python-package]Rename test helper
  tests/python_package_test/test_arrow.py
Due: ruff, ruff-format, typos

more fixes
  .ci/setup.sh
  .github/workflows/swig.yml
Due: yamllint, typos

[ci] skip conda setup on cpp-tests jobs
  .ci/setup.sh
Due: typos

set CONDA
  .github/workflows/swig.yml
Due: yamllint, typos

[python-package] add PyArrow Table to get_data (#6911)
  python-package/lightgbm/basic.py
  tests/python_package_test/test_arrow.py
Due: ruff, ruff-format, mypy, typos

fix powershell env variable check, add conda to path for linux and macos
  .ci/test-windows.ps1
  .github/workflows/swig.yml
Due: yamllint, typos

fix comment
  .github/workflows/swig.yml
Due: yamllint, typos

remove AZURE env variable
  .vsts-ci.yml
Due: yamllint, typos

[ci] move R-package artifact publishing to GitHub Actions
  .ci/test-r-package.sh
  .github/workflows/cuda.yml
  .github/workflows/python_package.yml
  .github/workflows/r_package.yml
  .vsts-ci.yml
Due: yamllint, typos

use absolute path
  .github/workflows/swig.yml
Due: yamllint, typos

create artifacts directory
  .ci/test.sh
Due: typos

[ci] skip conda setup on cpp-tests jobs (#7029)
  .ci/setup.sh
Due: typos

ensure both files are included
  .ci/test-r-package.sh
Due: typos

restore other CI
  .ci/test-r-package.sh
  .github/workflows/cuda.yml
  .github/workflows/python_package.yml
Due: yamllint, typos

[ci] move C++ tests to GitHub Actions
  .github/workflows/cpp.yml
  .github/workflows/python_package.yml
  .vsts-ci.yml
Due: yamllint, typos

skip more CI
  .appveyor.yml
  .github/workflows/cuda.yml
  .github/workflows/python_package.yml
  .github/workflows/r_package.yml
Due: yamllint, typos

fix env variables
  .github/workflows/cpp.yml
Due: yamllint, typos

fix some small things
  .github/workflows/cpp.yml
Due: yamllint, typos

fix software setup
  .github/workflows/cpp.yml
Due: yamllint, typos

add sudo
  .github/workflows/cpp.yml
Due: yamllint, typos

UBUNTU_BASE_CONTAINER (spelling)
  .github/workflows/cpp.yml
Due: yamllint, typos

fix condition on manylinux image
  .github/workflows/cpp.yml
Due: yamllint, typos

restore other CI
  .appveyor.yml
  .github/workflows/cuda.yml
  .github/workflows/python_package.yml
  .github/workflows/r_package.yml
Due: yamllint, typos

remove if-else from python_package
  .github/workflows/python_package.yml
Due: yamllint, typos

update more references
  cmake/IntegratedOpenCL.cmake
  windows/LightGBM.sln
  windows/LightGBM.vcxproj
Due: typos

[ci] use GItHub built-in token (fixes #7012)
  .ci/append-comment.sh
  .ci/rerun-workflow.sh
  .ci/set-commit-status.sh
  .ci/trigger-dispatch-run.sh
  .github/workflows/r_configure.yml
  .github/workflows/r_valgrind.yml
  .github/workflows/triggering_comments.yml
Due: yamllint, typos

avoid other CI runs
  .appveyor.yml
  .github/workflows/cuda.yml
  .github/workflows/python_package.yml
  .github/workflows/r_package.yml
  .github/workflows/static_analysis.yml
  .vsts-ci.yml
Due: yamllint, typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

