Repository Microsoft/LightGBM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, openmp-pragmas, ruff, ruff-format, mypy, validate-pyproject, biome, yamllint, typos

Path conditions:
  cpplint: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  openmp-pragmas: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  ruff-format: any of: \.py$, \.ipynb$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  mypy: any of: ^python-package/ and \.py$ and not ((?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$
)
  validate-pyproject: any of: ^python-package/pyproject.toml$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  biome: any of: \.(js|mjs|cjs)$, \.json$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$

  typos: any of: not ((\.gitignore$)|(^\.editorconfig$)), but not: (?x)^(
    build|
    external_libs|
    lightgbm-python|
    lightgbm_r|
)$
|R-package/configure$
|R-package/inst/Makevars$
|R-package/inst/Makevars.win$
|R-package/man/.*Rd$


add rocm docs
  docs/Installation-Guide.rst
  docs/Parameters.rst
  docs/_static/js/script.js
Due: biome, typos

[R-package] [ci] drop support for R 3.x (fixes #7023) (#7038)
  .ci/test-r-package-windows.ps1
  .github/workflows/r_package.yml
  R-package/DESCRIPTION
  R-package/R/lgb.Dataset.R
  R-package/README.md
  R-package/configure.win
  R-package/tests/testthat/helper.R
  build-cran-package.sh
  build_r.R
  docker/README.md
Due: yamllint, typos

fix doc using pre-commit
  include/LightGBM/config.h
Due: cpplint, openmp-pragmas, typos

apply reviewer suggestions
  include/LightGBM/cuda/cuda_rocm_interop.h
  src/treelearner/cuda/cuda_single_gpu_tree_learner.hpp
  src/treelearner/serial_tree_learner.h
Due: cpplint, openmp-pragmas, typos

Add competitions
  examples/README.md
Due: typos

Simplify links
  examples/README.md
Due: typos

fix build-python.sh doc
  build-python.sh
Due: typos

Remove 1st place
  examples/README.md
Due: typos

skip some CI, make this work with forks
  .appveyor.yml
  .github/workflows/cuda.yml
  .github/workflows/docker.yml
  .github/workflows/python_package.yml
  .vsts-ci.yml
  docker/dockerfile-cli
  docker/dockerfile-python
  docker/dockerfile-r
  docker/gpu/dockerfile-cli-only-distroless.gpu
  docker/gpu/dockerfile-cli-only.gpu
  docker/gpu/dockerfile.gpu
Due: yamllint, typos

ref not sha
  .github/workflows/docker.yml
Due: yamllint, typos

ok maybe head_ref
  .github/workflows/docker.yml
  docker/gpu/dockerfile.gpu
Due: yamllint, typos

not a TTY
  .github/workflows/docker.yml
Due: yamllint, typos

entrypoint
  .github/workflows/docker.yml
Due: yamllint, typos

[ci] update actions/checkout calls (#7037)
  .github/workflows/cuda.yml
  .github/workflows/linkchecker.yml
  .github/workflows/optional_checks.yml
  .github/workflows/python_package.yml
  .github/workflows/r_package.yml
  .github/workflows/r_valgrind.yml
  .github/workflows/static_analysis.yml
  .github/workflows/triggering_comments.yml
Due: yamllint, typos

cleanup after R 3 drop
  R-package/README.md
  R-package/configure.win
  R-package/src/Makevars.win.in
  R-package/src/install.libs.R
  R-package/tests/testthat/helper.R
Due: typos

Update test_basic.py
  tests/python_package_test/test_basic.py
Due: ruff, ruff-format, typos

[R-package] small cleanup after R 3.x drop (#7043)
  R-package/README.md
  R-package/configure.win
  R-package/src/Makevars.win.in
  R-package/src/install.libs.R
  R-package/tests/testthat/helper.R
Due: typos

more updates
  .github/workflows/docker.yml
  docker/dockerfile-cli
  docker/dockerfile-python
  docker/gpu/dockerfile-cli-only-distroless.gpu
  docker/gpu/dockerfile-cli-only.gpu
  docker/gpu/dockerfile.gpu
Due: yamllint, typos

[docs] Update list of winning solutions (#7042)
  examples/README.md
Due: typos

Update LightGBM.vcxproj
  windows/LightGBM.vcxproj
Due: typos

Update LightGBM.vcxproj.filters
  windows/LightGBM.vcxproj.filters
Due: typos

Update Installation-Guide.rst
  docs/Installation-Guide.rst
Due: typos

[ci] some additional changes to drop VS2015 and make it work from solution file (#7046)
  docs/Installation-Guide.rst
  windows/LightGBM.vcxproj
  windows/LightGBM.vcxproj.filters
Due: typos

[ci] [C++] drop support for Visual Studio 2015 (fixes #6803) (#7022)
  .appveyor.yml
  R-package/src/install.libs.R
  cmake/IntegratedOpenCL.cmake
  docs/Installation-Guide.rst
  windows/LightGBM.sln
  windows/LightGBM.vcxproj
  windows/LightGBM.vcxproj.filters
Due: yamllint, typos

switch from secrets.workflow to github.token
  .ci/test-docs.sh
  .github/workflows/lychee.yml
Due: yamllint, typos

test runs
  .github/workflows/lychee.yml
Due: yamllint, typos

move exclude_path param to config file
  .ci/test-docs.sh
  docs/.lychee.toml
Due: typos

Update setup.sh
  .ci/setup.sh
Due: typos

Update build-docs.sh
  docs/build-docs.sh
Due: typos

Update test-windows.ps1
  .ci/test-windows.ps1
Due: typos

create artifacts directory unconditionally
  .ci/test.sh
  .github/workflows/cuda.yml
  .github/workflows/python_package.yml
Due: yamllint, typos

Update .github/workflows/r_package.yml
  .github/workflows/r_package.yml
Due: yamllint, typos

[ci] fix recent conda and mamba matching error (#7047)
  .ci/setup.sh
  .ci/test-windows.ps1
  docs/build-docs.sh
Due: typos

Hotfix regex in TOML
  docs/.lychee.toml
Due: typos

Skip stackoverflow and stackexchange sites
  docs/.lychee.toml
Due: typos

Revert debug runs
  .github/workflows/lychee.yml
Due: yamllint, typos

[ci] move R-package artifact publishing to GitHub Actions (#7032)
  .ci/test-r-package.sh
  .ci/test.sh
  .github/workflows/cuda.yml
  .github/workflows/python_package.yml
  .github/workflows/r_package.yml
  .vsts-ci.yml
Due: yamllint, typos

define BUILD_ARTIFACTSTAGINGDIRECTORY for cpp jobs
  .github/workflows/cpp.yml
Due: yamllint, typos

Fixes in training and implementing scoring
  include/LightGBM/config.h
  include/LightGBM/objective_function.h
  src/application/predictor.hpp
  src/c_api.cpp
  src/io/config_auto.cpp
  src/metric/rank_metric.hpp
  src/objective/rank_objective.hpp
Due: cpplint, openmp-pragmas, typos

More fixes in training and implementing scoring
  include/LightGBM/config.h
  include/LightGBM/objective_function.h
  src/metric/rank_metric.hpp
  src/objective/rank_objective.hpp
Due: cpplint, openmp-pragmas, typos
